<td *ngIf="!editMode">
  <span>{{ taskProps.task }}</span>
</td>
<td *ngIf="!editMode">
  <label>
    <input type="checkbox" [checked]="taskProps.isCompleted" (change)="changeTaskStatus()" />
    <span></span>
  </label>
</td>
<td class="icons" *ngIf="!editMode">
  <img src="assets/svg/edit.svg" (click)="setEditMode()" />
  <img src="assets/svg/remove.svg" />
</td>

<td *ngIf="editMode">
  <div class="text-field">
    <input
      #taskInput
      class="text-field__input"
      [value]="editingTask.task"
      (input)="updateEditingTask(taskInput.value)"
    />
  </div>
</td>
<td *ngIf="editMode">
  <label>
    <input type="checkbox" [checked]="taskProps.isCompleted" (change)="changeTaskStatus()" />
    <span></span>
  </label>
</td>
<td class="icons" *ngIf="editMode">
  <img src="assets/svg/ok.svg" (click)="acceptEdit()" />
  <img src="assets/svg/cancel.svg" (click)="cancelEditMode()" />
</td>
