<table class="task-table">
  <col style="width: 60%" />
  <col style="width: 30%" />
  <col style="width: 180px" />
  <thead>
    <tr>
      <th>Задача</th>
      <th colspan="2" class="complete-col">Выполнено</th>
    </tr>
  </thead>
  <tbody *ngIf="tasksProps.length > 0">
    <tr
      *ngFor="let task of tasksProps; trackBy: trackByFn"
      app-todo-table-row
      [taskProps]="task"
    ></tr>
  </tbody>
</table>

<div *ngIf="tasksProps.length === 0" class="noData">
  <span>Нет данных</span>
</div>
