@import '../styles/styles.scss';

.task-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}
.task-table th {
  padding: 0px 40px;
  text-align: start;
  border: none;
  font-size: 18px;
  height: 54px;
  color: $secondary-text-color;
  background: $main-color;
  font-weight: 600;
}
