<table class="task-table">
  <col style="width: 60%" />
  <col style="width: 30%" />
  <col style="width: 180px" />
  <thead>
    <tr>
      <th>Задача</th>
      <th colspan="2" class="complete-col">Выполнено</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span>Выгулять собаку</span>
      </td>
      <td>
        <label>
          <input type="checkbox" checked="true" />
          <span></span>
        </label>
      </td>
      <td class="icons">
        <img src="assets/svg/edit.svg" />
        <img src="assets/svg/remove.svg" />
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-field">
          <input class="text-field__input" />
        </div>
      </td>
      <td>
        <label>
          <input type="checkbox" />
          <span></span>
        </label>
      </td>
      <td class="icons">
        <img src="assets/svg/ok.svg" />
        <img src="assets/svg/cancel.svg" />
      </td>
    </tr>
  </tbody>
</table>
